body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

/* list */
ul {
  counter-reset: index;
  padding: 0;
  max-width: 300px;
}

/* list element */
li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
}

/* element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: rig;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  background-clip: text;
}

/* element separation */
li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}